<h1>MIX_APP</h1> 
<h2>¿Are you in the mix?</h2>

<h3>You're logged in as: <%= current_user.email %></h3>
<%= link_to "logout", destroy_user_session_path %> |
<%= link_to "your questions", user_path(current_user) %> |
<%= link_to "most popular question", questions_most_popular_path %> |
<%= link_to "All Groups", groups_path %> |
<%= link_to "Create A New Group", new_group_path %>|
<%= link_to "My Groups", groups_my_groups_path %>

<h2>Trending / public Questions</h2>
<% @group_questions.each do |group_question| %>
  <% question = Question.find_by(:id => group_question.question_id) %>
    

  <ul>
    <li><h3>¿<%= link_to "#{question.query}", question_path(question) %>?<h3></li>
  </ul>
<% end %>

<h2>Or create a new Public Question</h2>

<%= link_to "Post a question to the public group", {:controller => "questions", :action => "new", :group => 0}%>



