<%@question = Question.find_by(id: "#{most_popular}") %>

<h2><%= @question.query %></h2>

<%#= render :partial => 'questions/question_li', :locals => {:question => question} %>

 <li><h3>Total number of answers to this question: <%= @question.answers_count %></h3>

    <li><h3>Total NO's: <%= @question.no_count %></h3>

    <li><h3>Total YES's: <%= @question.yes_count %></h3>

    <li><h3> WINNER IS: <%= @question.winner %></h3><br></br>