<h3>Create a New Y/N question!!</h3>

<%=form_for(@question) do |f| %>
<div class="field">
  <%= f.label :query %><br>
<h2>¿<%= f.text_field :query %>?</h2><br>
</div>
<div class="hidden field">
 <%= f.hidden_field :group_id, :value => @group.id %>
 </div>
<div class="field">
  <%=f.fields_for :answers do |a| %>
   <h2><%= a.radio_button(:input, "yes") %>
    <%= a.label(:yes, "YES") %></h2>
  </div>
  <div class="field">
    <h2><%= a.radio_button(:input, "no") %>
    <%= a.label(:no, "NO") %></h2><br></br>
    </div>
  <div class="hidden field">
    <%= a.hidden_field :user_id, :value => current_user.id %>
  </div>
     <div class="actions">
    <%= f.submit "submit" %>
    </div>
  <% end %>
<% end %> 

<div id="postResult">
  <h3 class="questionStats""></h3>
    <ul class="questions-group-0"></ul>
</div>

<div id="displayText"></div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/questions', values);
 
      posting.done(function(data) {

        var question_id = data["question"]["id"];
        var question_query = data["question"]["query"]
        var question_user = data["question"]["user_id"]
        var thisQuestion = new Question(question_id, question_query, question_user);

        $(".questionStats").text(thisQuestion.query);

        var answers = data["question"]["answers"]
        var id = 0
        answerStats(answers, id);
      });              
    });
  });    


$('#question_query').keyup(function(event) {
  var input = $(this).val();
  $('#displayText').html(input);

});
</script>


