<h3>THE SHOW PAGE</h3>

<h1><%= @question.query %></h1>



<h4>ANSWER THE QUESTION TO PARTICPATE</h4>

<h2>YES</h2><br></br>

<%= form_for @question do |f| %>
  <%= f.fields_for :answers do |answer| %>
    <%= answer.label :input %>
    <%= answer.text_field :input %>
  <% end %> 
<% end %> 
  <br />

<%#= link_to "yes", answers_path %>
<%#= link_to "no" %>

<h2>NO</h2><br></br>


<h2>[FLASH FEATURE]ANSWER STATS</h2>


<h3>Total number of answers to this question: 100</h3>
<h3>Total NO's: 50</h3>
<h3>Total YES's: 50 </h3>

<%= link_to "back to questions", questions_path %>

<p>(ADMIN FEATURE)<%= link_to 'Destroy', @question, method: :delete %></p>

