<h3>THE SHOW PAGE</h3>

<h1><%= @question.query %></h1>

<h4> see question STATS</h4>
<%= link_to "stats", question_answer_path(@question) %>


<h4>ANSWER THE QUESTION TO PARTICPATE</h4>


<%= form_for [@question, @answer] do |f| %>

  <h2><%= f.radio_button(:input, "yes") %>
  <%= f.label(:yes, "YES") %></h2>
  <h2><%= f.radio_button(:input, "no") %>
  <%= f.label(:no, "NO") %></h2><br></br>
  <%= f.submit "Create" %>
<% end %> 
  <br />

<%= link_to "back to questions", questions_path %>

