<h3>THE SHOW PAGE</h3>

<h1><%= @question.query %></h1>



<h4>ANSWER THE QUESTION TO PARTICPATE</h4>



<%= form_for @question do |f| %>
  <%= f.fields_for :answers do |answer| %>
    <%#= answer.label :input %>
    <%#= answer.text_field :input %>

    <h2><%= answer.radio_button(:input, "yes") %>
    <%= answer.label(:yes, "YES") %></h2>
    <h2><%= answer.radio_button(:input, "no") %>
    <%= answer.label(:no, "NO") %></h2><br></br>
    <%= answer.submit "Create" %>
  <% end %> 
<% end %> 
  <br />

 

<%= link_to "back to questions", questions_path %>

