<h2>Groups Show Page</h2>

<h3><%= @group.name %></h3>

  <%=form_for(@group) do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <h3><%= f.submit "Join This Group" %></h3>
  <% end %>

<h3>Group Members: </h3>
<% @group.members.each do |member| %>
  <ul>
      <li><%= member.email %></li>
  </ul>
<% end %>

<h3>Questions posed to this group: </h3>

<% @group.questions.each do |question| %>
  <ul>
      <li>¿<%= link_to question.query, question_answer_path(question)%>?</li>
  </ul>
<% end %>
