<h1> Group Show Page </h1>
<h2><%= @group.name %></h2>

<% if @user.id == @group.memberships.first.user_id || @user.role == "admin" %>

  <%=form_for @group do |f| %>
    <%= f.label "rename this group" %><br>
  <h2><%= f.text_field :name %></h2><br>
     <%= f.submit "submit" %>
    <% end %>

<% end %>


<% @group.memberships.each do |membership| %>
  <% member = User.find_by(:id => membership.user_id) %>
  <ul>
    <li><%= member.email %></li>
  </ul>
  <% end %>

 
join this group

  <%= form_for [@group, @membership] do |f| %>

  <%= f.submit "Join" %>
<% end %> 
  <br />

  <%= link_to "Post a question to this group", {:controller => "questions", :action => "new", :group => @group.id }%>

  <h2>Questions posted to this group</h2>
  <% @questions.each do |group_question| %>
    <% question = Question.find_by(:id => group_question.question_id) %>
    <ul>
      <li><%= link_to "ANSWER #{question.query}", question_path(question) %></li>
        <li><%= link_to "STATS FOR #{question.query}", question_answer_path(question) %></li>
    </ul>
  <% end %>