<h2>SHOW PAGE OF <%=@user.email%></h2>

<h2>Questions Created By <%=@user.email%> </h2>

  <ul>
    <% @user.questions.each do |question| %>
      <% if question.user_id == @user.id %>
        <%= render :partial => 'questions/question_li', :locals => {:question => question} %>
      <% end %>
    <% end %>
  </ul>

<h2>Questions Answered By <%=@user.email%> </h2>

  <ul>
    <% @answers.each do |answer_question| %>
      <%= render :partial => 'answers/answers_li', :locals => {:answer_question => answer_question} %>
      <% end %>
  </ul>


<%= link_to "back to questions", questions_path %>