<h2>SHOW PAGE OF <%=@user.email%></h2>

<h2>Questions Created By <%=@user.email%> </h2>

  <ul>
    <% @user.questions.each do |question| %>
      <%= render :partial => 'questions/question_li', :locals => {:question => question} %>
    <% end %>
  </ul>

<h2>Questions Answered By <%=@user.email%> </h2>

  <ul>
    <% find_question_by_answer(@user) %>
      <%= render :partial => 'answers/answers_li', :locals => {:answer_question => @answer_question} %>
  </ul>


<%= link_to "back to questions", questions_path %>


