<h2>SHOW PAGE OF <%=@user.email%></h2>

<h2>Questions Created By <%=@user.email%> </h2>

  <ul>
    <% @user_questions.each do |question| %>
      <%= render :partial => 'questions/question_li', :locals => {:question => question} %> 
      <h3><%= link_to 'Show Page', question_answer_path(question) %></h3><br></br>
    <% end %>
  </ul>

<h2>Questions Answered By <%=@user.email%> </h2>

  <ul>
    <% @answers.each do |answer_question| %>
      <%= render :partial => 'answers/answers_li', :locals => {:answer_question => answer_question} %>
      <h3><%= link_to 'Show Page', question_answer_path(answer_question.question) %></h3><br></br>
      <% end %>
  </ul>


<%= link_to "back to questions", questions_path %>