<li><h2><%= answer_question.question.query %></h2>

<li><h3>Total number of answers to this question: <%= answer_question.answers_count %></h3>

<li><h3>Total NO's: <%= answer_question.no_count %></h3>

<li><h3>Total YES's: <%= answer_question.yes_count %></h3>

<li><h3> WINNER IS: <%= answer_question.winner %></h3>