<h2>ANSWERS SHOW PAGE FOR</h2>

<h2>¿<%= @question.query %>?</h2><br></br>


<h2>Answer Stats:</h2>


<h3>Total number of answers to this question: <%= @question.answers_count %></h3>

<h3>Total NO's: <%= @question.no_count %></h3>

<h3>Total YES's: <%= @question.yes_count %></h3>

<h3> WINNER IS: <%= @question.winner %></h3><br></br>


<%= link_to "back to ALL questions", questions_path %> |

<%= link_to "YOUR questions", user_path(current_user) %><br>

<% if @question.user_id == current_user.id %>

  <p><%= link_to 'Destroy this question', @question, method: :delete %></p>

<% end %>