<h3>You're logged in as: <%= current_user.email %></h3>
<%= link_to "home", root_path %> |
<%= link_to "logout", destroy_user_session_path %> |
<%= link_to "your questions", user_path(current_user) %> |
<%= link_to "most popular question", questions_most_popular_path %> | <%= link_to "All Groups", groups_path %>